<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap<% if (env==='production') {%>.min<% } %>.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/style/app.css">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react-with-addons<% if (env==='production') {%>.min<% } %>.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react-router/0.13.3/ReactRouter<% if (env==='production') {%>.min<% } %>.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.25.2/react-bootstrap<% if (env==='production') {%>.min<% } %>.js"></script>

		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	</head>

	<body>
		<div id="app-container"></div>
		<script src="js/app.js"></script>
	</body>
</html>